doctype html
html(ng-app="SpotifyModule")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.1.min.js')
		script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
		script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
		script(type='text/javascript', src='/javascripts/SpotifyModule.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')

		block head
			
	body
		block content

		block footer